/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

.navbar, .photo-wrap, .grid {
  max-width: 1049px;
  margin: 0 auto;
  font-family: "Noto Sans TC"; }

html {
  height: 100%;
  background-color: #faefda;
  font-family: "Noto Sans TC"; }

.title h1 {
  font-size: 32px;
  display: block;
  color: #051025;
  line-height: 40px;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold; }

.title .fb {
  float: right;
  vertical-align: top;
  color: #585888;
  font-size: 32px;
  margin-top: 10px; }

.navbar h2 {
  color: #051025;
  font-size: 30px;
  line-height: 32px;
  text-align: center; }

header {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans TC";
  height: 450px;
  margin: 0px 0px 15px 0; }

.photo-wrap {
  margin-left: 460px; }
  .photo-wrap .item {
    width: 300px;
    margin: 10px;
    float: left;
    border-radius: 5%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(26, 25, 24, 0.5);
    box-shadow: 0px 1px 3px 1px rgba(26, 25, 24, 0.5); }
  .photo-wrap img {
    max-width: 100%;
    border-radius: 5%; }

.grid .grid-item {
  width: 300px;
  margin: 10px;
  float: left;
  border-radius: 5%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(26, 25, 24, 0.5);
  box-shadow: 0px 1px 3px 1px rgba(26, 25, 24, 0.5); }

.footer {
  max-width: 100%;
  background-color: bisque;
  height: 150px; }

.bottom p {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 20px;
  color: #001b3b;
  margin-top: 15px; }
